body {
  margin: 0;
}

.container {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: #efefef;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.logo {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 3%;
}

.items {
  display: flex;
  justify-content: space-around;
}

.items-els {
  border: solid 2px #ffa500;
  border-width: 30px;
  background-color: #ffa500;
}

.items-els:hover {
  border-color: red;
  background-color: red;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-item {
  font-size: 25px;
  margin-top: 2%;
}

.recipes-items {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-wrap: wrap;
}

.recipe-container {
  border: 2px solid white;
  border-radius: 5%;
  height: 8%;
  width: 22%;
  margin-top: 3%;
  padding: 1%;
  text-align: center;
}

.img-recipe {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.recipe-items {
  display: flex;
  justify-content: space-around;
  margin: 10% 0 10% 0;
  color: #8c8c8c;
}

.recipe-item {
  font-size: 1.2em;
  margin-right: 0.3em;
}

.recipe-det-container {
  display: flex;
  justify-content: space-between;
}

.img-recipe-det {
  height: 35%;
  width: 35%;
}

.recipe-det-items {
  margin-bottom: 20%;
  margin-right: 45%;
}

.recipe-items div {
  border: 1px solid #8c8c8c;
  background-color: #8c8c8c;
  border-radius: 20%;
  padding: 5%;
  color: whitesmoke;
  margin: 5%;
}

.recipe-items div .recipe-item {
  color: whitesmoke;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

input {
  width: 80%;
  font-size: 20px;
}

.input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  font-size: 1.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.25rem;
}