@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: #efefef;
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.logo {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 3%;
}

.search {
  margin-top: 15em;
  width: 100%
}

.items {
  display: flex;
  justify-content: space-around;
}

.items-els {
  border: solid 2px #ffa500;
  border-width: 30px;
  background-color: #ffa500;
}

.items-els:hover {
  border-color: red;
  background-color: red;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-item {
  font-size: 25px;
  margin-top: 2%;
  border: 1px solid gainsboro;
  border-radius: 5%;
  padding: 1%;
  color: #3d3d3d;
}

.category-item:hover {
  border-color: darkgray;
  background-color: darkgray;
  color: white;
}

.recipes-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-container {
  border: 2px solid white;
  border-radius: 5%;
  height: 8%;
  width: 22%;
  margin-top: 3%;
  padding: 1%;
  text-align: center;
}

.img-recipe {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.recipe-items {
  display: flex;
  justify-content: space-around;
  margin: 10% 0 10% 0;
  color: #8c8c8c;
}

.recipe-item {
  font-size: 1.2em;
  margin-right: 0.3em;
}

.recipe-container + .recipe-container {
  margin-left: 0.3em;
}

.recipe-det-items-name {
  color: #3d3d3d;
  font-size: 32px;
  margin-top: 5%;
  font-weight: 600;
}

.recipe-name {
  color: #3d3d3d;
  font-size: 28px;
  margin-top: 2%;
  font-weight: 600;
}

.recipe-det-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
}

.img-recipe-det {
  height: 25em;
  width: 25em;
  margin: 5% 5% 5% 0;
}

.recipe-det-items {
  margin-bottom: 5%;
  margin-right: 10%;
  margin-top: 3%;
}

.recipe-det-items h1 {
  font-size: 27px;
}

.recipe-items div {
  font-size: 25px;
  border: 1px solid #8c8c8c;
  background-color: #8c8c8c;
  color: whitesmoke;
  border-radius: 5%;
  padding: 1%;
  width: 6em;
  height: 1.5em;
  margin-right: 1%;
}

.recipe-items div .recipe-item {
  color: whitesmoke;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

input {
  width: 80%;
  font-size: 20px;
}

.input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  font-size: 1.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.25rem;
}

.ingredients {
  font-size: 28px;
  white-space: pre-wrap;
  margin-bottom: 10%;
}

.directions {
  font-size: 28px;
  white-space: pre-wrap;
}

@media (max-width: 1000px) {
  .search {
    margin-top: 9em;
  }

  .recipe-det-container {
    margin-top: 8em;
  }

  .categories-container {
    margin: 0 auto;
  }

  .categories {
    flex-wrap: wrap;
    font-size: 5px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .categories button {
    margin: 0.2em;
  }

  .recipe-container {
    width: 45%;
  }
}

@media (max-width: 1150px) {
  .recipe-det-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-recipe-det {
    width: 90%;
    height: 90%;
  }

  .recipe-det-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-det-items-name {
    text-align: center;
  }

  .recipe-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recipe-items div {
    font-size: 20px;
    width: 8em;
  }
}

@media (max-width: 800px) {
  .recipe-det-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .recipe-items div {
    font-size: 16px;
    width: 6.5em;
    margin-left: 2%;
  }

  .ingredients, .directions {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  input::placeholder, input {
    font-size: 18px;
  }

  .categories button {
    font-size: 18px;
  }

  .recipe-name {
    font-size: 20px;
  }

  .recipe-det-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .recipe-items div {
    font-size: 12px;
    width: 6em;
    margin-left: 1%;
  }

  .ingredients, .directions {
    font-size: 18px;
  }
}