body {
  margin: 0;
}

.container {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #ffa500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.logo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 3%;
}

.items {
  display: flex;
  justify-content: space-around;
}

.items-els {
  border: solid 2px #ffa500;
  border-width: 30px;
  background-color: #ffa500;
}

.items-els:hover {
  border-color: red;
  background-color: red;
}